:root {
    --Prussian-blue: #023047;
    --Sky-blue: #8ECAE6;
    --Blue-Green: #219EBC;
    --Deep-blue: #0077B6;
    --Vivid-sky-blue: #48CAE4;
    --Sky-mist: #90E0EF;
    --Ice-blue: #ADE8F4;
    --Light-cyan: #CAF0F8;
    --Light-Blue: #d7e3fc;
    --Soft-Azure: #e2eafc;
    --sliver-gray: #a6a6a6;
    --UT-orange: #FB8500;

    /*Font family*/
    --fontFamilySofia: "Sofia", cursive;
    --fontFamilySpectral: "Spectral", serif;
    --fontFamilyIBM: "IBM Plex Mono", monospace;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--fontFamilyIBM);
    color: #ffffff;
    background-color: var(--Soft-Azure);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a,
button {
    display: block;
}

.text-center {
    text-align: center;
}

/*---------------------------------------------*/
/*Header*/

.header .container {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header {
    background-color: var(--Prussian-blue);
    padding: 15px 0px;
}

.header .logo h1 {
    font-family: var(--fontFamilySofia);
}

.navbar {
    position: fixed;
    background-color: var(--Prussian-blue);
    top: 0;
    left: -360px;
    bottom: 0;
    max-width: 360px;
    width: 100%;
    padding-inline: 30px;
    padding-block-end: 50px;
    visibility: hidden;
    transition: 500ms ease;
    overflow-y: auto;
    z-index: 2;
}

.navbar.active {
    visibility: visible;
    transform: translateX(360px);
    color: white;
}

.navbar .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 40px;
}

.navbar-list {
    width: 100%;
    padding-left: 0;
}

.navbar-item , .footer-octicon{
    border-block-start: 1px solid gray;
}

.footer-octicon{
    padding-top: 15px !important;
}

.navbar .navbar-list button.algorithmButton {
    color: var(--Light-Blue);
    position: relative;
    font-size: 1rem;
    padding-block: 15px;
    letter-spacing: 1px;
    transition: 500ms ease;
}

.navbar .navbar-list button.disabledButton.clickedButton {
    color: var(--Vivid-sky-blue);
}

.navbar .navbar-list button.disabledButton {
    color: var(--sliver-gray);
    cursor: default;
}



.navbar .navbar-list button:hover {
    color: var(--Vivid-sky-blue);
}

.navbar .close-btn {
    color: var(--Light-Blue);
    border: 1px solid currentColor;
    padding: 7px 9px;
    border-radius: 50%;
    margin-inline-start: auto;
    margin-block: 30px 20px;
    display: block;
    line-height: 1;
    font-size: 20px;
}

.navbar-open-btn,
.menu-navbar-open-btn {
    padding: 12px;
    padding-inline-end: 30px;
    margin-inline-start: auto;
}

.navbar-open-btn .line,
.menu-navbar-open-btn .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: white;
    margin-block: 6px;
    transform-origin: left;
    animation: openbtn 400ms ease-in-out alternate infinite;
}

.navbar-open-btn .line-2 {
    animation-delay: 150ms;
}

.navbar-open-btn .line-3 {
    animation-delay: 300ms;
}


@keyframes openbtn {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.5);
    }
}

@media (min-width: 768px) {
    .navbar-list {
        margin-inline: auto;
    }

    .navbar-open-btn,
    .menu-navbar-open-btn {
        padding-inline-end: 0px;
    }
}


@media (min-width: 1000px) {

    .navbar,
    .navbar.active,
    .navbar-list {
        all: unset;
    }

    .navbar-list {
        display: flex;
        gap: 30px;
        padding-block: 15px;
        align-items: center;
    }

    .navbar-open-btn,
    .navbar>*:not(.navbar-list),
    .header .overlay {
        display: none;
    }
    
    .footer-octicon{
        padding-top: 0px !important;
    }

    .navbar-item, .footer-octicon {
        border-block-start: none;
    }

}


.sort-array .array-inputs label,
.sort-array .array-inputs button {
    color: var(--Prussian-blue);
    font-size: 1.3em;
    font-weight: 600;
}

.sort-array .array-inputs input {
    cursor: pointer;
}

.s-button {
    margin: auto;
    text-align: center;
    width: max-content;
}


@media (max-width: 1000px) {

    .sort-array .array-inputs {
        gap: 22px;
    }

    .s-button {
        margin: 0px;
    }

}


.sort-array {
    position: relative;
}

.sort-array .array-container {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    padding-bottom: 50px;
}

.sort-array .array-container .array-bar {
    /*background-color: #0077B6;*/
    display: inline-block;
    margin: 0 1px;
}


.s-button .sort-button .startSortButton {
    background-color: var(--Prussian-blue);
    border: 1px solid var(--Prussian-blue);
    color: var(--Light-cyan) !important;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 300ms ease-out;
}

.s-button .sort-button .startSortButton:hover {
    background-color: transparent;
    color: var(--Prussian-blue) !important;
    border: 2px solid var(--Prussian-blue);
    ;
}

.s-button .sort-button .startSortButton.disabled-button {
    background-color: var(--sliver-gray);
    color: var(--Prussian-blue) !important;
    cursor: default;
}